body {
    background: black;
}

table {
    width: 75%;
    text-align: center;
    background-color: gray;
    border-radius: 1em;
    border-spacing: .5em;
    padding: 1em;
}

.btn-elevator {
    width: 25%;
    vertical-align: middle;
}

.img-elevator {
    width: 30%;
    margin: auto;
    display: block;
}

p {
    display: inline-block;
    vertical-align: middle;
}

button {
    background: url('/arrow-up.png') no-repeat;    
}