.main{
    font-size: 100%;
}

li{
    font-size: 80%;
<<<<<<< HEAD
}
.overlay{
    width: 100vw;
    height: 100vh;
    background-color: gray;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 50%;
=======
>>>>>>> 755b7d20a641ede3ea9e0d77410e7c9b8dfb0c7e
}