*{
    /* color: red;
    font-family: 'Courier New', Courier, monospace; */
}
/* Универсальный селектор, который изменяет все элементы на странице. используется редко */
p{
    color: green;
}
/* Селектор по названию элемента */
.heading1 {
    margin-left: 5px;
}
/* Это селектор по классу. Перед названием класса ставим точку */
#heading2{
    text-decoration: none;
}
/* Это селектор по id элемента. Перед названием id ставим хештег */
#heading1,
.heading2{
    color: black;
}
/* Также можно навешывать одни и те же значения на разные элементы через запятую. */
q.quote{
    color: red;
}
/* Если класс или ид навешен на разные элементы, то можно стилизировать только определенный элементы с этой структурой */
div p{
    color: red;
}
/* Можно указывать два тега, указывая, что последний это дочерний предыдущего */
a[target="blank"]{
    background-color: yellow;
}
/* Селектор для элемента с атрибутом */