// В общем суть препроцессоров такая же как и у фреймворков ускорить процесс кодинга
// Собственно прикол этих препроцессоров в том, что они пишуться на своем языке, а потом переделываются в обычный css, так как
// браузер понимает только css
//Опять же можно разными способами установить scss и sass (чуть похже поговорим об отличиях)
//Я буду использовать программу koala. Скачиваем, загружаем папку с scssи она компилирует ее в css и сразу же создает нужный файл
// Когда в программке натсроили пути компиляции, открывайте css файл справа, чтоы видеть разницу
$color1: #fff;
$font: 'Poppins', sans-serif;
%name-item {
    font-size: 18px;
    color: $color1;
    &:hover{
        color: black;
    }
}
.test{
    text-align: center;
}

// Первая возможность scss это вложенности

.menu{
    float: right;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
    }
    a {
        text-decoration: none;
    }
}

//результат на лицо. очень удобненько))))
//Вторая возможность scss

.description {
    color: black;
    &:hover{
        color: blue;
    }
}

//Это тоже вложенность но теперь с амперсандом и 
//после него прописываем другие свойства под ховером например
//Тоже удобненько))
//Амперсанд этот просто заменяет прописанный выше селектор
//То есть например, если какое слово используем нескольок раз через дефис, то можно заамперсандить это слово

.description{
    &-tools{
        float: right;
        display: flex;
    }
    & a{
        text-decoration: none;
    }
}

//Также переменные. Они есть и в css, но дольше пишутся и используются
//Вверху прописаны переменные


.about a {
    color: $color1;
}
//Как мы видим переменные здесь используются чууууть быстрее

.item1 {
    @extend %name-item;
}
.item2{
    @extend %name-item;
    &::after{
        content: 'something';
    }
}
.item3{
    @extend %name-item;
    background-color: rgba(#ab34df, 0.9);
    //Обычный цвет перевелся в rgb
}

//В общем щас мы чисто расматривали для наглядности, что препроцессоры это круто
//Но есть и другие препроцессоры. Щас как раз поговорим о них
//Значит жили были три брата. Less, sass, scss.
//less сделал много вещей для развития препроцессоров, но его время прошло
//Sass продолжал дело старшего брата
//А scss тоже до сих пор этим занимается.
//В общем оба препроцессора живут и отличаются только тем, что в sass не используются фигурные скобки и точки с запятыми
//А еще он такой же строгий как и питон

