div,
span{
    border: red solid 2px;
    padding: 10px 10px 20px 20px;
    margin: 10px;
}
.test{
    display: inline ;
}
.test2{
    margin: 40px;
<<<<<<< HEAD
    box-sizing: border-box;
    width: 100px;
    height: 100px;
}
/* для строчных элементов не применяется margi padding top and bottom  */
/* Не забываем про схлопывание отсутпов */
/* также у строчных элементов не применяется изменение высоты и ширины */
/* ширина и высота применяется к самому блочному контенту */
/* border box привязывает границы и внутренние отступы (но не внешние) к контенту.
То есть с обычным значением (content-box) значение ширины будет применяться только к контенту
Но с border box ширина будет применяться и к внутренним отступам и границам
Свойства width и height включают контент, внутренний отступ и границы, но не
 включают внешний отступ. Заметьте, что внутренний отступ и граница будут внутри
  блока. Например, .box {width: 350px; border: 10px solid black;} будет иметь общую
   ширину 350 пикселей, а ширина контента составит 330 пикселей. Размер контента не
    может быть отрицательным, минимальное значение - 0, поэтому border-box невозможно
     использовать для скрытия элемента */
=======
}
>>>>>>> 755b7d20a641ede3ea9e0d77410e7c9b8dfb0c7e

